.TopNavBar {
    border-bottom: 1px solid #95989A;
    margin-bottom: 0;
    background-color: #bbf0f3;
    background-image: linear-gradient(315deg, #bbf0f3 0%, #f6d285 74%);
}

.TopNavBar .navbar-brand img {
    max-height: 100%;
}